.blockin__contact_us{
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.contact_us_block{
	margin-top: 64px;
	margin-bottom: 49px;
}

@media only screen and (max-width: 480px) {
	.contact_us_block{
		margin-top: 43px;
		margin-bottom: 22px;
	}
}